<%= stylesheet_link_tag 'homePageGrid.css' %>
<%= stylesheet_link_tag 'homePageMin' %>
<%= stylesheet_link_tag 'homePageNormalize' %>
<%= stylesheet_link_tag 'homePageStyle3' %>
<%= image_tag("logos/logo3.png", class: "logo", alt: "web logo") %>

<header>
    <nav>
        <div class = "row">
            <ul class = "main-nav">
                <li> <%= link_to "Schedule", homes_schedule_path %> </li>
                <li> <%= link_to "Classes", homes_classHome_path %> </li>
                <li> <%= link_to "Login/Sign up", homes_profile_path %> </li>
            </ul>
        </div>
    </nav>
    <div class = "hero-text-box">
        <h1> Be Successful By Connecting With Your Peers.</h1>
        <a class = "btn btn-full" href = "#"> Connect </a>
        <a class = "btn btn-ghost" href = "#"> Show Me More </a>
    </div> 
</header>
            
<section class="intro">
    <div class="row">
        <h2>Let graduation be a smooth ride to success!</h2>
        <p class="long-copy">
            Hello, we’re SJSU Scouter, your new platform to connect with friends at SJSU.
        </p>
    </div>
</section>        
        
<section class="section-features">
    <div class="row">
        <div class="col span-1-of-4 box">
            <i class="ion-university"></i>
            <h3>What is SJSUScouter?</h3>
            <p>
                SJSUScouter is a site build to connect students with the SJSU community that will give student info on major coursesincluding: syllabus, homework, quizes,and exams. 
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-network"></i>    
            <h3>How does it work? </h3>
            <p>
                Students will have a social platform where they will be able to share content from previous and aything else you want to fucking say just place it right here.
            </p>
        </div>                
        <div class="col span-1-of-4 box">
            <i class="ion-planet"></i>
            <h3>Benefits</h3>
            <p>         
                Of course it will! Our goal is to give you as much insight on major required courses. By doing so, we aim to prepare you for your roadmap to graduation to the best of our capabilities.
            </p>
        </div>
    </div>
</section>
        
<section class="SJSU-showcase">
    <ul class="sjsu-show">
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu1.jpg", alt: "sjsulogo") %>
            </figure>
        </li>
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu2.jpg", alt: "sjsugirl") %>
            </figure>
        </li>
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu3.jpg", alt: "sjsucamp") %>
            </figure>
        </li>
    </ul>
    <ul class="sjsu-show">
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu4.jpg", alt: "sjsuclass") %>
            </figure>
        </li>
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu5.jpg", alt: "sjsustatue") %>
            </figure>
        </li>
        <li>
            <figure class="sjsu-photo">
            <%= image_tag("people/sjsu6.jpg", alt: "sjsumlk") %>
            </figure>
        </li>
    </ul>
</section>
        
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav"> 
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms of Service & Honor Code</a></li>
            </ul>
        </div>     
        <div class="col span-2-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                <li><a href="#"><i class="icon-social-instagram"></i></a></li>
                <li><a href="#"><i class="icon-social-snapchat"></i></a></li>
            </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2017 by SJSUScouter. All rights reserved.
            </p>
        </div>
</footer>
