        body{
			background-image: url("bodyBG.jpg");
            background-size: 100%;
            background-position: center;
            max-width: 100%;
            height: auto;
            width: auto;
		}
		ul.page{
			list-style-type: none;
    		margin: 0;
    		padding: 0;
    		overflow: hidden;
    		background-color: #333333;
		}
        div#page {
            background-image: url("bodyBG.jpg");
            background-size: 100%;
           	background-repeat: repeat-x;
            background-position: center;
            height: 100%;
            width: 100%;
        }
        h1 {
            text-align: center;
            font-family: serif;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid #57b1dc;
            margin-top: 30px;
        }
        p {
            text-align: center;
            font-family: serif;
            font-weight: normal;
        }
        div#header{
        	background-color: green; 
        	height: 50px;
        	width: 100%;
        }
        	/*div#topBut{
	        	float: left;
        		clear: right;
        	}*/
        	/*div#profile{
	        	float:right;
        	}*/
        	li.button{
        		float: left;
        		font-size: 15px;
        		font-family: sans-serif;
				list-style-type: none;
        	}
        	li.profile{
        		float: right;
        		font-family: sans-serif;
        		list-style-type: none;
        	}
        	li a {
    			display: block;
    			color: white;
    			text-align: center;
    			padding: 16px;
    			text-decoration: none;
			}
			li a:hover{
				background-color: #111111;
			}
        div#banner{
        	height: 200px;
        	width: 100%;
        }
    	    div#SCAM{
        		background-size: 250px 175px;
        		background-position: top left;
        		background-repeat: no-repeat;
        		margin: 50px 0px 0px 0px;
        		float: left;
        	}
        	div#classLogo{
	        	background-size: 250px 175px;
        		background-position: top right;
        		background-repeat: no-repeat;
        		padding: 0px 0px 500px 0px;
        		margin: 20px 0px 0px 70px;
        		float: right;
        	}
        	p#classTitle{
        		float:right;
        		font-size: 50px;
        		padding: 0px 50px 0px 0px;
        	}
        	img#logClass{
        		float:right;
        	}
        div#botPage{
        	display: inline;
        	margin: 0px;
        	padding: 0px;
        }
        div#newsFeed{
        	/*background-size: 100% 750px 0px 0px;*/
        	height: 500px;
        	width: 950px;
        	background-color: orange;
        	margin: 0px;
        }
        	p.news{
        		margin: 0px;
        		padding: 0px;
				text-align: left;
        		text-indent: 50px;
        	}
        div#chatBox{
        	/*background-color: red;
        	height: 300px;
        	width: 250px;
        	margin: 0px;*/
        	float: right;
        }
        li.Bot{
        	display: inline;
        }