        body{
			background: url("generateSched.jpg") no-repeat center center fixed;
            background-size: cover;
            max-width: 100%;
            height: auto;
            width: auto;
		}
		ul.page{
			list-style-type: none;
    		margin: 0;
    		padding: 0;
    		overflow: hidden;
    		background-color: #333333;
		}
        div#page {
            background-image: url("bodyBG.jpg");
            background-size: 100%;
           	background-repeat: repeat-x;
            background-position: center;
            height: 100%;
            width: 100%;
        }
        div#icon ul#iconList{
            padding: 0;
            margin: 0;
        }
            li.webIcon{
                text-align: center;
                font-family: sans-serif;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        div#header{
            font-weight: bold;
            /*opacity: 0.6;*/
        	height: 50px;
        	width: 100%;
            background: rgba(0, 38, 153, 0.6);
        }
            /*div#ul{
                background: rgba(0, 92, 230, 0.6);
            }*/
        	li.button{
        		float: left;
        		font-size: 15px;
        		font-family: sans-serif;
				list-style-type: none;
        	}
        	li.profile{
        		float: right;
                font-size: 15px;
        		font-family: sans-serif;
        		list-style-type: none;
        	}
        	li a {
                color: #ff0000;
    			display: block;
    			text-align: center;
    			padding: 16px;
    			text-decoration: none;
			}
			li a:hover{
                text-decoration: underline;
                color: white;
			}
        div#studentSchedule{
            height: auto;
            width: auto;
            background-color: blue;
            opacity: 0.6;
        }
